<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Genshin Impact Simulator</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="/style.css">

  <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light"><a href="/login"><img id="logo" src="/assets/img/favicon.png" alt="logo"/></a>
    <div class="nav-item"><a class="nav-link" href="/logout">Log out</a></div>
    <div class="nav-item"><a class="nav-link" id="changePassButton" href="/passChange">Change Password</a></div>
    <div class="nav-link"><a href="/summon">Summon</a></div>
    <div class="nav-item"><a class="nav-link" href="/inventory">Inventory</a></div>
  </nav>
  <section id="content">
    <section id="accountSettings">

    </section>
    <section id="errorHandling">

    </section>
  </section>
  <script src="/assets/settingsBundle.js"></script>
</body>
</html>